@model IEnumerable<StockOrderMVC.Models.StockOrderVM>

<table id="tb_OrderLists" class="table table-bordered">
    <thead>
        <tr>
            <th>買單累計</th>
            <th>買單數量</th>
            <th>價格</th>
            <th>賣單數量</th>
            <th>賣單累計</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var i in Model)
        {
            <tr id="@i.TargetPrice">
                <td>@i.AccBuyAmount</td>
                <td>@i.BuyAmount</td>
                <td>@i.TargetPrice</td>
                <td>@i.SellAmount</td>
                <td>@i.AccSellAmount</td>
            </tr>
        }
    </tbody>
</table>

