@model IEnumerable<StockOrderMVC.Models.StockOrderVM>
@{
    int AccBuying = 0;
    int AccSelling = Model.Sum(o => o.SellAmount);
}

<table id="tb_OrderLists" class="table table-bordered">
    <thead>
        <tr>
            <th>買單累計</th>
            <th>買單數量</th>
            <th>價格</th>
            <th>賣單數量</th>
            <th>賣單累計</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var i in Model)
        {
            AccBuying += i.BuyAmount;

            <tr>
                <td>@AccBuying</td>
                <td>@i.BuyAmount</td>
                <td>@i.TargetPrice</td>
                <td>@i.SellAmount</td>
                <td>@AccSelling</td>
            </tr>

            AccSelling -= i.SellAmount;
        }
    </tbody>
</table>

